{# base Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Médiathèque / Pleyber Christ</title>
        {% block stylesheets %}
            {% include 'AppBundle:elements:styles.html.twig' %}
        {% endblock %}
    </head>
    <body>      
        {% block header %}
            {% include 'AppBundle:elements:header.html.twig' %}
        {% endblock %}
        {% block navbar %}
            {% include 'AppBundle:elements:navbar.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            {% include 'AppBundle:elements:footer.html.twig' %}
        {% endblock %}
        {% block modals %}
            {% include 'AppBundle:elements:modal.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/browsing.js') }}"></script>
        {% endblock %}
    </body>
</html>
