{# eventList Twig template #}
{% for event in events %}
    <li class="border">
        <a class="flex-parent-col no-decor" href="#" title="La peau de chagrin">
            <div class="title flex-child-center center text bold"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.title }}</div>
            <div class="date flex-child-center center underline text">le {{ event.day }}&nbsp;</div>
            <div class="hour flex-child-center center underline text">à {{ event.hour }}</div>
            <div class="desc flex-child-center text italic">{{ event.description }}</div>
        </a>
    </li>
{% endfor %}