{# footer Twig template #}
<footer class="center">
    <a class="no-decor link-color-white" href="index.html">
        Médiathèque de Pleyber-Christ<br/>
        Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2016<br/>
    </a>
    <a class="no-decor link-color-white" href="https://malahx.github.io/">
        Gwénolé LE HENAFF
    </a>            
</footer>