{# header Twig template #}
<header>
    <a class="flex-parent-col center" href="http://www.pleyber-christ.fr">
        <img class="flex-child" src="{{ asset('bundles/app/img/logo.png') }}" alt="logo"/>
        <img class="flex-child mobile-hidden" src="{{ asset('bundles/app/img/pre-mairie.png') }}" alt="Mairie0"/>
        <img class="flex-child" src="{{ asset('bundles/app/img/mairie.png') }}" alt="Mairie1"/>
    </a>
</header>
