<!-- Modal content -->
<div class="modal-content">
    <header class="modal-info">
        <span id="loginModalClose" class="close">&times;</span>
        <h2>Se connecter</h2>
    </header>
    <section>
        <form class="modal-form" action="http://localhost:8888/api/login" method="post">
            <div class="modal-content">
                <label for="username"><span>Utilisateur :</span><br/>
                    <input type="text" class="form-control" id="username" name="_username" placeholder="Utilisateur" required="required">
                </label><br/>
                <label for="password"><span>Mot de passe :</span><br/>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required="required">
                </label><br/>
                <label class="checkbox" for="remember_me" hidden>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                </label>
            </div>
            <footer class="modal-info">
                <button type="submit" id="_submit" name="_submit" class="green">&nbsp;Login</button>
            </footer>
        </form>
    </section>
</div>
