/* GENERAL */
.mobile-hidden {
    display: none;
}
.hidden {
    display: none;
}
.button {
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
}
.valid {
    color: #DFF0D8;
    background: #3C764F;
}
.valid:hover {
    background: #DFF0D8;
    color: #3C764F;
    border-color: #3C764F;
}
.warning {
    color: #FCF8E3;
    background: #9C6D3B;
}
.warning:hover {
    background: #FCF8E3;
    color: #9C6D3B;
    border-color: #9C6D3B;
}
.alert {
    color: #F2DEDE;
    background: #A94442;
}
.alert:hover {
    background: #F2DEDE;
    color: #A94442;
    border-color: #A94442;
}
.right {
    display: inline-block;
    float: right;
}
.no-decor {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
.link-color-black {
    color: black;
}
.link-color-black:hover {
    color: white;
}
.link-color-white {
    color: white;
}
.link-color-white:hover {
    color: black;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.flex-parent-col {
    display: flex;
    flex-direction: column;
}
.flex-parent-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.flex-child {
    flex-grow: 1;
    margin: auto;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #FFBB10;
}
.red {
    color: #A94442;
    background-color: #F2DEDE;
}
.green {
    color: #3C764F;
    background-color: #DFF0D8;
}
.orange {
    color: #9C6D3B;
    background-color: #FCF8E3;
}
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body>nav>header, body>nav>section>div, body>nav>footer, body>main>section li.border {
    border-bottom: 2px solid #E0A10D;
}
body>nav, body>footer {
    border-top: 10px solid #ECEDEE;
}

/* HEADER */
body>header img {
    width: 100%;
    height: 100%;
}

/* NAV*/
body>nav {
    background-color: #FFBB10;   
}
body>nav>header .nav {
    width: 50%; 
    cursor: pointer;
}
body>nav>section {
    width: 100%;
    font-size: 1em;
}
body>nav>section>div {
    width: 100%;
}
body>nav>footer {
    color: white;
    font-size: 20px;
    cursor: default;
    width: 100%;
}

/* MAIN */
body>main li {
    width: 100%;
    list-style-type: none;
}
body>main>div .cover {
    max-height: 500px;
}
body>main ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
body>main>section>ul#events li {
    background: #EAEAEA;
}
body>main>section>ul#events li:nth-child(odd) {
    background: #AAAAAA;
}
body>main>section li>a {
    color: inherit;
}
body>main>section li>a .cover {
    max-width: 39%;
    max-height: 200px;
}
body>main>section li>a .info {
    width: 59%;
}
body>main>section li>a .info .text {
    width: 100%;
}
body>main>section li>a .info .ico {
    width: 100%;
    height: 100%;
}
body>main>footer {
    background-color: #878C95;
}
body>main>footer>ul {
    width: 100%;
}
body>main>footer>ul>li {
    width: 100%;
    border-left: 1px solid #75787C;
    border-right: 1px solid #75787C;
}

/* FOOTER */
body>footer {
    background-color: #878C95;   
}

/* MODAL */

#loginModalBtn {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content input {
    width: 100%;
}
.modal-info {
    display: block;
    color: white;
    background-color: #FFBB10;
    padding: 0.01em 16px;
    min-height: 2.5em;
}
.modal-info button {
    float: right;
    margin: 0.4em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
    html {
        position: relative;
        min-height: 100%;
    }
    body  {
        margin: 0 0 4em; /* bottom = footer height */
    }
    body>footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4em;
    }
    .mobile-hidden {
        display: inherit;
    }
    body>header {
        margin-left: 15em;
        margin-right: 15em;
    }
    body>header img {
        width: inherit;
        height: inherit;
    }
    body>header .flex-parent-col {
        flex-direction: row;
    }    
    body>nav>header {
        display: none;
    }
    body>nav>section {
        font-size: 1em;
    }
    body>nav>section .flex-parent-col {
        display: inline-flex;
        flex-direction: row;
    }
    body>nav>section.hidden {
        display: inherit;
    }
    body>nav>section .flex-child {
        border-left: 1px solid #75787C;
        border-right: 1px solid #75787C;
        padding: 5px;
    }
    body>main>section .flex-parent-col {
        flex-direction: row;
        flex-wrap: wrap;
    }
    body>main>section>ul>li.doc { 
        margin: 1em;
        width: 350px;
        border: 2px solid #E0A10D;
    }
    body>main>section li.doc>a {
        margin: 1em;
    }
    body>main>section div {
        margin: 5px;
    }
    body>main>section .title {
        width: 20em;
    }
    body>main>section .date {
        width: 11em;
    }
    body>main>div.document {
        padding: 2em;
    }
    body>main {
        min-height:100%;
    }
    body>footer {
    }
    .modal-content {
        width: 50%;
    }
}