<section>
    <div ng-Hide="!notLogged" class="red">Vous devez être loggué</div>
    <ul class="flex-parent-col">
        <li ng-repeat="doc in docs" class="flex-child doc border {{ doc.borrow  == null ? 'green' : doc.borrow.isReserved ? 'orange' : 'red' }}" style="order: 1;">
            <a class="flex-parent-row no-decor" ng-href="#!/document/{{ doc.document.id }}" title="{{ doc.document.title }} - {{ doc.author }}">
                <img class="flex-child cover center" ng-src="src/asset/img/{{ doc.document.cover }}" alt="{{ doc.document.title }}"/>
                <div class="flex-child flex-parent-col info center">
                    <ul>
                        <li class="flex-child text bold"><i class="fa fa-{{ doc.type == 1 ? 'book' : doc.type == 2 ? 'music' : 'comments-o' }}" aria-hidden="true"></i> {{ doc.document.title }}</li>
                        <li class="flex-child text italic"> {{ doc.author || doc.composer || doc.cartoonist }}</li>
                        <li class="flex-child text ico">
                            <i class="fa fa-{{ doc.borrow  == null ? 'plus-circle' : doc.borrow.isReserved ? 'times-circle' : 'minus-circle' }} fa-3x" aria-hidden="true"></i>
                            <p>{{ doc.borrow  == null ? 'Disponible' : doc.borrow.isReserved ? 'Réservé' : 'Emprunté' }}</p>
                            <p>Ajouté le : {{ (doc.document.date * 1000) | date:'dd/MM/yyyy' }}</p>
                        </li>
                    </ul>
                </div>
            </a>
        </li>
    </ul>
</section>
