/* MODAL */

.red {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}


#loginModalBtn {
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content input {
    width: 100%;
}
.modal-info {
    display: block;
    color: white;
    background-color: #FFBB10;
    padding: 0.01em 16px;
    min-height: 2.5em;
}
.modal-info button {
    float: right;
    margin: 0.4em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
    .modal-content {
        width: 50%;
    }
}
